.App {
  background-color: var(--background-color);
  color: var(--text-color);
}

.resources {
  text-align: center;
  opacity: 0.65;
  font-size: 14px;

  a {
    color: var(--text-color);
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
