.askMintlifyBox {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.textboxContainer {
  display: flex;
  position: relative;
}

.textbox {
  border-radius: 10px;
  border: none;
  background: #0f1117;
  box-shadow: 0px 0px 2px 0px rgba(229, 231, 235, 0.5);
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 18px 8px 48px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    padding-left: 50px;
  }

  &.textBoxResponseOpen {
    padding-left: 18px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  position: absolute;
  left: 14px;
  top: calc(50% - 9px);
  transition: all 0.5s ease-in-out;

  img {
    vertical-align: middle;
    height: 18px;
  }

  &.responseOpen {
    top: calc(100% + 60px);
  }

  @keyframes loadingResponse {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  &.loadingResponse {
    animation-name: loadingResponse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes responseLoading {
  0% {
    box-shadow: 0px 0px 36px 0px #77dbf226;
  }
  50% {
    box-shadow: 0px 0px 36px 0px #77dbf250;
  }
  100% {
    box-shadow: 0px 0px 36px 0px #77dbf226;
  }
}

.response {
  padding: 42px 18px 24px 18px;
  box-shadow: 0px 0px 36px 0px #77dbf226;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;

  &.isLoadingResponse {
    animation-name: responseLoading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .ragContext {
    position: absolute;
    top: calc(100% + 24px);
    left: 0;
    opacity: 0.535;
    font-size: 13px;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.85;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @keyframes messageIn {
    0% {
      transform: translateY(-14px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .initialMessage {
    position: absolute;
    top: 9px;
    left: 48px;
    font-size: 14px;
    opacity: 0.65;
    animation-name: messageIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    padding: 0;
    word-wrap: break-word;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      word-wrap: break-word;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .spacer {
    height: 18px;
  }

  .responseOptions {
    position: absolute;
    top: 8px;
    right: 14px;
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      color: white;
      border: none;
      background-color: transparent;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      opacity: 0.65;

      &:hover {
        opacity: 1;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
